<div class="modal-header p-0 custom-header">
  <h6 class="semi-bold m-2">Company</h6>
  <button type="button" id="btnAddEditCompanyClose" class="close p-0 ClosePopupmodal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body custom-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pr-0 pl-0">
        <!-- Nav tabs -->
        <div class="card m-0">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Envision" aria-controls="Envision" role="tab" data-toggle="tab">Envision</a></li>
            <li role="presentation"><a href="#Profile" aria-controls="Profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#LayerCategory" aria-controls="LayerCategory" role="tab" data-toggle="tab">Layer
                Categories</a></li>
            <li role="presentation"><a href="#Express" aria-controls="Express" role="tab" data-toggle="tab">Express</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content p-1">
            <!-- Envision tab -->
            <div role="tabpanel" class="tab-pane active" id="Envision">
              <envision-tab></envision-tab>
            </div>
            <!-- Profile tab -->
            <div role="tabpanel" class="tab-pane" id="Profile">
              <profile-tab></profile-tab>
            </div>
            <div role="tabpanel" class="tab-pane" id="LayerCategory">
              <layercategory-tab></layercategory-tab>
            </div>
            <div role="tabpanel" class="tab-pane" id="Express">
              <express-tab></express-tab>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
</div>