#AddressPanel{
    font-size: 12px;
    font-weight: bold;
}

/deep/ #reverseGeocodeDesc .card .card-header {
    padding: 5px !important;
}
/deep/ #reverseGeocodeDesc .card .card-header .card-close{
    display: none !important;
}

/deep/ #reverseGeocodeDesc .card .card-body{
    padding: 2px !important;
}

/deep/ #reverseGeocodeDesc .card .card-header .card-controls {
    float: left;
    margin-top: 0px;
}