#OperatingUtilitydetailModelIframe{
    height:calc(100vh - 350px);
}

@media screen and (min-width:1640px) {
    #PipelineActivityProjectModelIframe{
        height:calc(100vh - 350px);
    }
}

@media screen and (max-width: 1640px) and (min-width:1440px) {
    #PipelineActivityProjectModelIframe{
        height:calc(100vh - 300px);
    }
}

@media screen and (max-width: 1440px) and (min-width:1024px) {
    #PipelineActivityProjectModelIframe{
        height:calc(100vh - 250px);
    }
}

@media screen and (max-width: 1024px) {
    #PipelineActivityProjectModelIframe{
        height:calc(100vh - 200px);
    }
}
