.companies-grid{
    width: 100%; 
    height: 500px;
}

.modal-header .custom-title{
    font-size: 16px;
    margin:0px;
    font-weight: 500;
}

.custom-header{
    border-bottom: 0.5px solid lightgray !important;
    padding: 0px !important;
}

.btn-primary{
    background-color:#0054a0;
    border-color:#0054a0;
  }

  .btn-primary:hover{
    background-color:#1a81de;
    border-color:#1a81de;
  }

  .btn-primary.active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary.active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active:hover, .btn-primary .show .dropdown-toggle.btn-primary{
    background-color:#0054a0;
    border-color:#0054a0;
  }

