<div class="row">
        <div class="col-md-12">
            <p><small>Select and upload files from your computer. Property editing is enabled upon
                    successful upload. Acceptable file types are .xls, .xlsx and .csv.</small></p>
        </div>
    </div>
    <div class="row m-t-10 m-b-20">
        <div class="col-md-12">
            <!-- <pg-upload Action="https://jsonplaceholder.typicode.com/posts/" Multiple="true" [FileList]="fileList2" ShowButton="true">
                                <button class="btn btn-success btn-cons">
                                    <i class="fa fa-upload m-r-10"></i><span>Upload</span>
                                </button>
                            </pg-upload> -->
            <p-fileUpload name="coordinates[]" url="" customUpload="true" (uploadHandler)="onUpload($event)" multiple="multiple"
                accept=".xls,.xlsx,.csv" maxFileSize="500000000">
                <!-- <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template> -->
            </p-fileUpload>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Ensure that your file name is no more than 64 characters in length and your data is listed only on the first tab.</p>
            <p class="m-t-10">Latitude and Longitude coordinates must be in decimal degrees format with no spaces and must also be formatted as numbers in your spreadsheet.</p>
            <p class="m-t-10">Header rows must be included:</p>
            <p class="m-t-10">Latitude and Longitude for coordinate files OR</p>
            <p class="m-t-10">Street Address, City, State and Zip Code for address files.</p>
            <p class="m-t-10">For performance reasons, there is a 500 MB file size limit for data uploads.</p>
        </div>
    </div>
