#railRoadList{
    width: 100%;
}

#railRoadList p-pickList .ui-picklist-listwrapper ul li .checkbox{
    padding:0px;
    margin: 0px !important;
}

#railRoadList .tab-wrapper .tab-content-wrapper{
    padding: 5px;
}
.txtFilterInput{
    width:200px;
    margin-left:10px;
}