<div *ngIf="railRoadLoader==true" class="loader" id="LayerLibraryLoader"
  style="position: absolute;top: 50%;z-index: 10;left: 40%;">
  <img id="loading-image" [src]="ImageURLPath + 'LayerLibraryLoader.gif'" alt="Loading..." height="20" width="100"><br>
</div>
<h6 class="m-1 semi-bold">Color Rail by Owner or Country</h6>

<div class="row m-0">
  <div class="col-md-12 p-0">
    <app-checkbox-picklist [sourceList]="sourceCountry" [isSourceSelectAll]="false" [isTargetSelectAll]="false"
      (OnChangeList)="OnChangeCountryList($event)" [currentTab]="'RailRoad'"></app-checkbox-picklist>
  </div>
</div>

<div class="row m-0 column-seperation">
  <div class="col-md-12 p-0">
    <app-checkbox-picklist [isFilterable]="true" [isLazyLoad]="true" [sourceList]="sourceRailOwner"
      [listName]="'Owners'" [singularName]="'Owner'" (OnChangeList)="OnChangeOwnerList($event)" [currentTab]="'RailRoad'"></app-checkbox-picklist>
  </div>
</div>

<div class="row m-0 mt-2">
  <div class="col-md-7 p-0">
    <div class="radio radio-primary">
      <b>Color by</b>
      <input type="radio" checked="checked" value="Owner" [(ngModel)]="ColorByOwner" name="RailRoad" id="optRailOwner" aria-invalid="false">
      <label for="optRailOwner">Owner</label>
      <input type="radio" value="Country" name="RailRoad" [(ngModel)]="ColorByOwner" id="optCountry">
      <label for="optCountry">Country</label>
    </div>
  </div>
  <div class="col-md-5 p-0 text-right">
    <button type="button" class="btn btn-primary"
      [disabled]="targetCountry.length==0 || targetRailOwner.length==0 || targetRailOwner.length > 25"
      (click)="CreateLayerForRailRoadOwner()">Create
      Layer</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
  </div>
</div>