.modal-header .custom-title{
    font-size: 16px;
    margin:0px;
    font-weight: 500;
}

.custom-header{
  border-bottom: 0.5px solid lightgray !important;
  padding: 0px !important;
}

.btn-primary{
    background-color:#0054a0;
    border-color:#0054a0;
  }

  .btn-primary:hover{
    background-color:#1a81de;
    border-color:#1a81de;
  }

  .btn-primary.active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary.active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active:hover, .btn-primary .show .dropdown-toggle.btn-primary{
    background-color:#0054a0;
    border-color:#0054a0;
  }

  .change-Usernameemail{
      color:red;
  }

  .form-horizontal .form-group .control-label{
    opacity:1!important;
    font-weight:600;
    color:#4a4a4a;
    font-size:12px;
  }  
  
  .form-horizontal .form-group:hover .control-label{
    opacity:1!important;
  }
  
  .form-control{
    border:1px solid rgba(0, 0, 0, 0.4)!important;
  }
  
  .has-error .form-control{
    border-color:#f55753!important;
  }
  
  .checkbox.check-success input[type=checkbox]:checked + label:before{
    border-color:#0054a0!important;
  }

  .btn-default{
    border-color:#4285f49e;
  }

  .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default:active:hover, .btn-default:hover
  {
    background-color:#4285f41f;
    color:red;
    border-color:#4285f4;
  }


