<div class="row m-0 p-0 pl-2 pt-2">
    <div class="col-md-12 project_data_filters m-0 p-0 pl-1 pr-1 pt-1">
        <div class="row p-0 m-0">
            <div class="col-md-2 p-0 pr-1 m-0">
                <button type="button" class="btn btn-default btnFilterHead filterbtnfont p-0 m-0">State</button>
                <p-listbox [options]="AllPowerPlantFilterOptionValue.State[0]" [(ngModel)]="selectedAllPowerPlantFilters.State"
                    [style]="{'width':'100%','height':'230px','overflow':'auto'}" multiple="multiple" checkbox="checkbox"
                    filter="filter" filterMode="startsWith" optionLabel="StateProvince" *ngIf="powerFilter">
                    <!-- <p-header>
                        State
                    </p-header> -->
                </p-listbox>
            </div>
            <div class="col-md-2 p-0 pr-1 m-0">
                <button type="button" class="btn btn-default btnFilterHead filterbtnfont p-0 m-0">NERC Region</button>
                <p-listbox [options]="AllPowerPlantFilterOptionValue.NERCRegion[0]" [(ngModel)]="selectedAllPowerPlantFilters.NERCRegion"
                    [style]="{'width':'100%','height':'230px','overflow':'auto'}" multiple="multiple" checkbox="checkbox"
                    filter="filter" filterMode="startsWith" optionLabel="NERCRegionCode" *ngIf="powerFilter">
                    <!-- <p-header>
                        NERC Region
                    </p-header> -->
                </p-listbox>
            </div>
            <div class="col-md-2 p-0 pr-1 m-0">
                <button type="button" class="btn btn-default btnFilterHead filterbtnfont p-0 m-0">Primary Plant Fuel</button>
                <p-listbox [options]="AllPowerPlantFilterOptionValue.PrimaryPlantFuel[0]" [(ngModel)]="selectedAllPowerPlantFilters.PrimaryPlantFuel"
                    [style]="{'width':'100%','height':'230px','overflow':'auto'}" multiple="multiple" checkbox="checkbox"
                    filter="filter" filterMode="startsWith" optionLabel="PrimaryFuel" *ngIf="powerFilter">
                    <!-- <p-header>
                        Primary Plant Fuel
                    </p-header> -->
                </p-listbox>
            </div>
            <div class="col-md-2 p-0 pr-1 m-0">
                <button type="button" class="btn btn-default btnFilterHead filterbtnfont p-0 m-0">Sector</button>
                <p-listbox [options]="AllPowerPlantFilterOptionValue.Sector[0] " [(ngModel)]="selectedAllPowerPlantFilters.Sector"
                    [style]="{'width':'100%','height':'230px','overflow':'auto'}" multiple="multiple" checkbox="checkbox"
                    filter="filter" filterMode="startsWith"  optionLabel="Sector" *ngIf="powerFilter">
                    <!-- <p-header>
                        Sector
                    </p-header> -->
                </p-listbox>
            </div>
            <div class="col-md-2 p-0 pr-1 m-0">
                <button type="button" class="btn btn-default btnFilterHead filterbtnfont p-0 m-0">ISO/RTO</button>
                <p-listbox [options]="AllPowerPlantFilterOptionValue.ISO_RTO[0]" [(ngModel)]="selectedAllPowerPlantFilters.ISO_RTO"
                    [style]="{'width':'100%','height':'230px','overflow':'auto'}" multiple="multiple" checkbox="checkbox"
                    filter="filter" filterMode="startsWith" optionLabel="ISO_RTO" *ngIf="powerFilter">
                    <!-- <p-header>
                        ISO/RTO
                    </p-header> -->
                </p-listbox>
            </div>
            <div class="col-md-2 p-0 pr-1 m-0">
                <button type="button" class="btn btn-xs btn-primary filterbtnfont" (click)="powerFilter = !powerFilter">
                    <span *ngIf="!powerFilter"><i class="fa fa-plus"></i> Expand Filters</span>
                    <span *ngIf="powerFilter"><i class="fa fa-minus"></i> Collapse Filters</span>
                </button>
                <div class="RangeFilter" *ngIf="powerFilter">
                    <div class="row p-0 m-0">
                        <div class="col-md-12 project_data_filters p-1 m-0">
                            <label class="checkbox-inline mtop_checkbox m-0">
                                <input type="checkbox" checked="checked" [(ngModel)]="Regulated" (ngModelChange)="chkRegulatedChanged($event)"
                                    name="chkRegulated" value="Regulated" class="filterbtnfont"> Regulated
                            </label>
                            <label class="checkbox-inline mtop_checkbox m-0">
                                <input type="checkbox" checked="checked" [(ngModel)]="NonRegulated" (ngModelChange)="chkNonRegulatedChanged($event)"
                                    name="chkRegulated" value="NonRegulated" class="filterbtnfont"> Non-Regulated
                            </label>
                        </div>
                    </div>
                    <div class="row p-0 m-0 pb-1">
                        <div class="col-md-4 p-0 m-0">
                        </div>
                        <div class="col-md-4 p-0 m-0">
                            <span class="filterbtnfont">From</span>
                        </div>
                        <div class="col-md-4 p-0 m-0">
                            <span class="filterbtnfont">To</span>
                        </div>
                    </div>
                    <div class="row p-0 m-0 pb-1">
                        <div class="col-md-4 p-0 m-0">
                            <span class="filterbtnfont">Capacity MW</span>
                        </div>
                        <div class="col-md-4 p-0 m-0 pr-1 pb-1">
                            <input id="CapacityFrom" class="p-1 filterbtnfont" [(ngModel)]="CapacityFrom" class="form-control"
                                value="0">
                        </div>
                        <div class="col-md-4 p-0 m-0 pr-1 pb-1">
                            <input id="CapacityTo" class="p-1 filterbtnfont" [(ngModel)]="CapacityTo" class="form-control"
                                value="0">
                        </div>
                    </div>
                    <div class="row p-0 m-0">
                        <div class="col-md-4 p-0 m-0">
                            <span class="filterbtnfont">Net Generation GWh</span>
                        </div>
                        <div class="col-md-4 p-0 m-0 pr-1 pb-1">
                            <input id="NetGenerationFrom" class="p-1 filterbtnfont" [(ngModel)]="NetGenerationFrom"
                                class="form-control" value="0">
                        </div>
                        <div class="col-md-4 p-0 m-0 pr-1 pb-1">
                            <input id="NetGenerationTo" class="p-1 filterbtnfont" [(ngModel)]="NetGenerationTo" class="form-control"
                                value="99999">
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-md-9 pr-0">
                        <div class="form-group typehead">
                            <input placeholder="Search Utility or Plant Name" [(ngModel)]="selectedPowerPlantNameOrUtility"
                                [typeahead]="AllPowerPlantFilterOptionValue.selectedPowerPlantNameOrUtilityList[0]"
                                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="3" [typeaheadOptionsLimit]="500" class="form-control txtIntSearch filterbtnfont"
                                (typeaheadOnSelect)="PowerPlantTypeheadOnSelect($event)">
                        </div>
                    </div>
                    <div class="col-md-3 pr-0 pl-1">
                        <button type="button" class="btn btn-primary pr-1 pl-1 filterbtnfont" (click)="searchPowerPlantNameOrUtility()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0 m-0">
            <!-- <div class="col-md-4 p-0 m-0">
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-8 p-0 m-0 text-right">
                        <div class="form-group typehead">
                            <input placeholder="Search Project Name  or Sponsor" [(ngModel)]="selectedPowerPlantNameOrUtility"
                                [typeahead]="AllPowerPlantFilterOptionValue.selectedPowerPlantNameOrUtilityList[0]"
                                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5" class="form-control"
                                (typeaheadOnSelect)="PowerPlantTypeheadOnSelect($event)">
                        </div>
                    </div>
                    <div class="col-md-4 p-0 m-0 text-right">
                        <button type="button" class="btn btn-primary btn-cons" (click)="searchPowerPlantNameOrUtility()">Search</button>
                    </div>
                </div>
            </div> -->

            <div class="col-md-12 p-0 m-0 text-right" *ngIf="powerFilter || selectedPowerPlantNameOrUtility!='' ">
                <div class="FilterButtons" *ngIf="selectedAllPowerPlantFilters.State.length>0  
                    || selectedAllPowerPlantFilters.NERCRegion.length>0 || selectedAllPowerPlantFilters.PrimaryPlantFuel.length>0
                    || selectedAllPowerPlantFilters.Sector.length>0 || selectedAllPowerPlantFilters.ISO_RTO.length>0
                    || CapacityFrom!='0' || CapacityTo!='99999' || NetGenerationFrom!='0' || NetGenerationTo!='99999'
                    || selectedPowerPlantNameOrUtility!=''">

                    <button type="button" class="btn btn-default btn-cons filterbtnfont" style="font-weight: bold"
                        (click)="ClearPowerPlantAllfilters()">Clear</button>
                    <button type="button" class="btn btn-primary btn-cons filterbtnfont" (click)="PowerPlantApplyfilter()">
                        Apply filters
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div clas="row m-0 p-0">
    <div class="container-fluid m-0 p-0 pl-2 pr-0">
        <div class="card card-default m-t-10">
            <div class="card-body">
                <div class="invoice">
                    <ag-grid-angular #PowerPlant_agGrid style="width: 100%; height: 500px;" id="PowerPlantGrid"
                        [rowData]="PowerPlantrowData" class="ag-theme-balham" [columnDefs]="PowerPlantcolumnDefs"
                        [enableSorting]="true" [enableFilter]="true" [suppressRowClickSelection]="false" [debug]="true"
                        [rowSelection]="rowSelection" [enableColResize]="true" [paginationAutoPageSize]="false"
                        [pagination]="true" (gridReady)="onPowerPlantGridReady($event)" [paginationPageSize]="paginationPageSize"
                        [paginationNumberFormatter]="paginationNumberFormatter" [overlayLoadingTemplate]="overlayLoadingTemplate"
                        [overlayNoRowsTemplate]="overlayNoRowsTemplate" (rowClicked)="onPowerPlantRowClicked($event)"></ag-grid-angular>
                    <div class="row m-0 p-0">
                        <span class="pr-2">Page Size:</span>
                        <select (change)="onPowerPlantPageSizeChanged()" id="PowerPlantpage-size" class="form-control"
                            style="width: 50px;">
                            <option value="10">10</option>
                            <option value="25" >25</option>
                            <option value="50">50</option>
                            <option value="100" selected="">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>