<div class="modal-header custom-header">
    <h6 class="m-2 semi-bold">Confirm</h6>
    <button type="button" id="btnDeleteMapConfClose" class="close p-0 ClosePopupmodal" aria-label="Close"
        (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-2">
    <div class="row">
        <div class="col-md-12">
            <p class="custom-content">Are you sure you want to delete <b>{{MapName}}</b> map?</p>
        </div>
    </div>
</div>
<div class="modal-footer p-t-5 p-b-5 pr-2">
    <button type="button" class="btn btn-complete custom-button" (click)="DeleteMyMap()">Yes</button>
    <button type="button" class="btn btn-complete custom-button" (click)="bsModalRef.hide()">No</button>
</div>