.modal-header .custom-title{
    font-size: 16px;
    margin:0px;
    font-weight: 500;
}

// .custom-header{
//     background: #add8e661;
// }

.btn-primary{
    background-color:#0054a0;
    border-color:#0054a0;
  }

  .btn-primary:hover{
    background-color:#1a81de;
    border-color:#1a81de;
  }

  .btn-primary.active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary.active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active:hover, .btn-primary .show .dropdown-toggle.btn-primary{
    background-color:#0054a0;
    border-color:#0054a0;
  }
/deep/.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
  border: 1px solid #0054a0 !important;  
  background: #0054a0 !important;    
}

.tab-title{
  text-transform: capitalize;
  font-weight: 700 !important;
  line-height: 1.5;
}
