<pgcard Refresh="false">
  <ng-template #CardTitle>Transmission Project Report</ng-template>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-transparent">
        <!-- <div class="cardheader"> -->
          <h6 class="widgetLabel">Most Recent Transmission Project Report (TPR)</h6>
        <!-- </div> -->
        <div class="cardContent">
          <div class="row" *ngFor="let item of transProjects;">
            <img src="../assets/img/PDF.png" class="imgFile">
            <a href="{{item.link}}" target="_blank">{{item.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</pgcard>