
.project_data_filters {
    border: 1px solid #CBCBCB;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 3px !important;
}
.filterbtnfont{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    font-size: 12px !important;
}
/deep/ .ag-theme-balham{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    font-size: 12px !important;
}
/deep/ .ag-theme-balham .ag-header{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    font-size: 12px !important;
}
/deep/ .intelligence p-listbox .ui-listbox .ui-listbox-item {
    padding: 0px !important;
    font-size: 12.5px !important;
    line-height: 16px !important; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;

}
/deep/ .ui-listbox .ui-listbox-list-wrapper{
overflow: hidden !important;
}
// /deep/ .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
// {
//     background: #4285f4 !important
// }
/deep/ .ui-listbox-header .ui-listbox-filter-container .ui-listbox-filter-icon{
    position: absolute;
    top: 0.45em !important;
    left: 0.25em !important;
}
/deep/ .ag-theme-balham .ag-status-bar{ padding: 0px !important;    border: none !important;}

/deep/ #TransmissionProject_agGrid .ag-theme-balham .ag-menu{
    top:0px !important;
}
.intelligence .btn-primary:hover{
    background-color:#1a81de;
    border-color:#1a81de;
  }

  .intelligence .btn-primary.active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary.active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active:hover, .btn-primary .show .dropdown-toggle.btn-primary{
    background-color:#0054a0;
    border-color:#0054a0;
  }
