/deep/ #cartographicCard .checkbox{
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 0px;
}
/deep/ #cartographicCard .radio{
    margin-top: 2px;
    margin-bottom: 2px;
}
//.toolOption{
    //border: 1px lightgray solid;
//}